body{
  font-size:16px;
  font-family: "Open Sans Condensed","Helvetica","Arial",sans-serif;
}

#container{
  width:700px;
  margin: 0 auto;
}

h1{
  font-weight:300;
  font-size:34px;
  color: #9bac73;
  letter-spacing: 1px;
  margin-top:100px;
}

h3{
  font-weight:700;
  font-size:14px;
  color: #738152;
  margin-top:15px;
  margin-bottom:30px;
}

p {
  color:#6b6b69;
  font-size;17px;
  line-height:28px;
  font-weight:300;
  margin-top:15px;
}

.drop-cap{
  font-size:100px;
  font-weight:400;
  line-height: 70px;
  float:left;
  margin: 5px 5px 0 0;
}
